# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]
.pytest_cache/

# VSCode
.vscode/


# Data files
datasets

#Input files
data/
temp_images/


# Output files
*.csv
mlruns/
logs/
resources/
weights/
airflow-webserver.pid

# Dev files
cmd.txt
dev_*.py

